<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>stuff-to-watch</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/assets/styles.css" type="text/css">
	<script src="/assets/todo-list.js"></script>
	<link rel="icon" href="/favicon.png" type="image/x-icon"/>
</head>
<body>
	<div id="stw-table">
		<form id="adder">
			<input type="text" name="item" placeholder="Add somethig new to the list" required/>
			<button type="submit">Add to list</button>
		</form>
		<ul>
			<% for(let i = 0; i < list.length; i++) { %>
				<li><%= list[i].item %></li>
			<% } %>
		</ul>
	</div>
</body>
</html>